@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');

body {
  background: #2f5726;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background: #1a3115;
  max-width: 230px;
  height: 100vh;
}

.menu .item {
  color: #74d65e;
  font-weight: 400;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  padding-left: 45px;
  margin-left: 30px;
}

.item:hover {
  color: #fff;
}

.item.perfil {
  background: no-repeat url('https://img.icons8.com/material/30/c7af04/services.png') 0 center;
}

.item.free {
  background: no-repeat url('https://img.icons8.com/material/30/c7af04/free-shipping.png') 0 center;
}

.item.carrinho {
  background: no-repeat url('https://img.icons8.com/material/30/c7af04/shopping-cart.png') 0 center;
}

.item.sobre {
  background: no-repeat url('https://img.icons8.com/material/30/c7af04/info.png') 0 center;
}

.menu .avatar {
  background: no-repeat center center url('https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortFlat&accessoriesType=Wayfarers&hairColor=PastelPink&facialHairType=BeardMajestic&facialHairColor=BrownDark&clotheType=Hoodie&clotheColor=Gray01&eyeType=Surprised&eyebrowType=DefaultNatural&mouthType=Tongue&skinColor=Brown');
  background-size: contain;
  height: 100px;
}

.menu .nm-usuario {
  margin: 20px 0;
  width: 100%;
  text-align: center;
  color: #fff;
}

.painel {
  z-index: 100;
  position: fixed;
  right: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  top: -100%;
  transition: top 0.7s ease-out 0s;
}

.painel.show {
  top: 0;
}

.btn-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 200;
  display: none;
}

.painel h1 {
  font-weight: 200;
  margin-bottom: 30px !important;
  cursor: default;
}

.painel.principal {
  color: #fff;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 230px;
  width: auto;
}

.painel.perfil {
  background: #1a6556;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.painel.perfil input,
.painel.perfil label {
  width: 300px;
  border: none;
  text-align: left;
  margin: 0px;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.painel.perfil button {
  border-radius: 5px;
  font-size: 15px;
  border: none;
  padding: 10px;
  margin-top: 30px;
  background: #e04f5f;
  color: #fff;
  cursor: pointer;
}

.painel.perfil input {
  margin-bottom: 20px;
}

.frete {
  background: #6e0218;
  color: #fff;
}

.produtos {
  padding: 20px;
	display: flex;
	flex-wrap: wrap;
  justify-content: center;
}

.painel.principal h1 {
  margin-top: 100px !important;
}

.produtos img {
  margin: 20px 20px;
  border: 3px solid #fff;
  border-radius: 5px;
  width: 98px;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.produtos img:hover {
  transform: scale(1.1) rotate(-10deg);
}
